@inherits LayoutComponentBase

<header class="bg-dark text-white p-3">
    <div class="container d-flex justify-content-between align-items-center">
        <h1 class="m-0">Farouq's Record Shop</h1>
        <NavMenu />
    </div>
</header>

<main class="container my-4">
    @Body
</main>

<footer class="bg-dark text-white text-center p-3">
    <p class="m-0">Farouq Abdullah &copy; 2026</p>
</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">X</a>
</div>
