<nav>
    <a href="/" class="btn btn-outline-light me-2">Home</a>
    <a href="/records" class="btn btn-outline-light me-2">All Records</a>
    <a href="/records/add" class="btn btn-outline-light me-2">Add Record</a>
    <a href="/about" class="btn btn-outline-light">About</a>
</nav>