@page "/"
@using FarouqsRecordShopUI.Models

<PageTitle>Farouq's Record Shop</PageTitle>

<h1>Welcome to Farouq's Record Shop</h1>

<RecordDetails Album="testAlbum" />

@code {
    private Album testAlbum = new Album
    {
        Id = 1,
        Title = "The Documentary",
        Artist = "The Game",
        Genre = "Hip-Hop",
        ReleaseYear = 2005,
        Stock = 20
    };
}