@using FarouqsRecordShopUI.Models

<div class="d-flex flex-wrap">
    @if (Albums != null)
    {
        @foreach (var album in Albums)
        {
            <RecordSummary Album="album" />
        }
    }
</div>

@code {
    [CascadingParameter]
    public List<Album>? Albums { get; set; }
}
