@page "/search"
@rendermode InteractiveServer

<PageTitle>Search Records</PageTitle>

<h1>Search Records</h1>

<div class="mb-5">
    <SearchById />
</div>

<div class="mb-5">
    <SearchByTitle />
</div>

<div class="mb-5">
    <SearchByArtist />
</div>
